body{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: black;
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: serif !important;
	padding-top: 50px;
}

.main{
	margin-top: 40px;
	display: inline-block;
	background-color: rgba(255, 255, 255, .2);
	color: rgba(255, 255, 255, .2);
	font-family: Georgia !important;

}


/*   Login    */

.login{
	background-color: rgba(255, 255, 255, .4);
	color: rgba(255, 255, 255, .4);
	width: 280px;
	height: 280px;
	margin: 13px;
}

.facebook{
	padding-top: 30px;
}
.facebook img{
	height: 50px;
}

.field{
	width: 206px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	margin-top: 5px;
}
.field input{
	border: none;
	border-radius: 0px;
	width: 140px;
	padding-top: 10px;
	float: right;
	height: 31px;
}
.field span{
	width: 50px;
	height: 50px;
	background-color: #dcdcdc;
	display: inline-block;
	margin-left: -5px;
}
.field img{
	height: 25px;
	margin-top: 13px;
	opacity: 0.3;
}
.login button{
	
	border: none;
	padding: 13px;
	padding-left: 26px;
	padding-right: 26px;
	margin-right: -3px;
}

.buttons{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	text-align: right;
}

.buttons button {
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 0px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
}

.blue{
	background-color: #A2C9D3;
	float: left;
}
.red{
	background-color: #F17467;
	float: right;
}
.clear{
	clear: both;
}



/*   Footer   */

.footer{
	background-color: black;
	padding: 25px;
	width: 960px;
	margin-left: -480px;
	text-align: left;
	color: white;
	position: absolute; 
	top: 100%;
	left: 50%;
}

.footer .links a{
	float: right;
	margin-left: 40px;
}

input[type=text], input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  margin: 0px;
  border: 0px;
}
 
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 0px rgba(81, 203, 238, 1);
  margin: 0px;
  border: 0px;
}

button {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
 
button:focus, button:hover {
  background-color: #f03d2a;
}




