<!DOCTYPE html>
<html>
  <head>
    <title>Quero Pronto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; utf-8">
    <meta property="og:url" content="http://queroprontotest.appspot.com/ideia/{{ideia.key().id_or_name()}}" />
    <meta property="og:site_name" content="QueroPronto - Ideias Mirabolantes" />
    <meta property="og:type" content="queropronto:idea" />
    <meta property="og:title" content="{{ideia.nome}} - Vote nessa ideia" />
    <meta property="og:image" content="http://img.youtube.com/vi/{{ideia.video}}/0.jpg" />
    <meta property="og:description" content="{{ideia.descricao}}. Essa ideia está participando da campanha 'Quero ideias' da empresa QueroPronto" />
    <meta property="fb:app_id" content="317536478371830" />
    <meta property="queropronto:votes" content="{{ideia.votos}}" /> 
  
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/style.css" rel="stylesheet" media="screen">
     <script src="//connect.facebook.net/en_US/all.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
      <script type="text/javascript">
      
      // Initialize the Facebook JavaScript SDK
      FB.init({
        appId: '317536478371830',
        xfbml: true,
        status: true,
        cookie: true,
      });

      function votar(){
            $.ajax({
                type: "POST",
                url: "/votar",
                data: { "ideia": "{{ideia.key().id_or_name()}}"}
              }).done(function( msg ) {
                $("#voto").html(msg);
              });
              // Postar no facebook
              FB.api(
                'me/queropronto:vote',
                'post',
                {
                  idea: "http://queroprontotest.appspot.com/ideia/{{ideia.key().id_or_name()}}"
                },
                function(response) {
                  // handle the response
                }
              );
      }
      // Check if the current user is logged in and has authorized the app
      FB.getLoginStatus(checkLoginStatus);
      
      // Login in the current user via Facebook and ask for email permission
      function authUser() {
        FB.login(checkLoginStatus, {scope:'email'});
      }
      
      // Check the result of the user status and display login button if necessary
      function checkLoginStatus(response) {
        if(response && response.status == 'connected') {
          $("#crazy").hide();
          
          // Hide the login button
          document.getElementById('loginButton').style.display = 'none';
          document.getElementById('logoutButton').style.display = 'block';
          // Now Personalize the User Experience
          console.log('Access Token: ' + response.authResponse.accessToken);
        } else {
          $("#crazy").show();
          
          // Display the login button
          document.getElementById('loginButton').style.display = 'block';
          document.getElementById('logoutButton').style.display = 'none';
        }
      }
      </script>
         <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <a href="/" style="float: left;color: white; padding: 20px">QueroPronto</a>
  <div class="ideia_video">
    
    <iframe width="480" height="360" src="http://www.youtube.com/embed/{{ideia.video}}?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="center">
      <div id="descricao">
         <a onclick="votar()" class="btn btn-primary right"
             style="margin-right: 10px">ESSA EU QUERO PRONTA</a>

         <h3>{{ideia.nome}}</h3>
         <div class="fb-like right" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
         <div class="right" style="font-size: 17px;margin-right: 10px"><span id="voto">{{ideia.votos}}</span> votos</div>
         <p>{{ideia.descricao}}</p>

      </div>
     
      


      <div class="fb-comments" data-href="/ideia/{{ideia.key().id_or_name()}}" data-num-posts-href-width="470" data-num-posts="10"></div>
  </div>
  
</body>
</html>