<!DOCTYPE html>
<html>
  <head>

    <title>Quero Pronto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; utf-8">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
     <script src="//connect.facebook.net/en_US/all.js"></script>
  </head>
  <body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-39945095-1', 'queroprontotest.appspot.com');
        ga('send', 'pageview');

      </script>
    <div id="fb-root"></div>

      <script type="text/javascript">
      function logar_cadastrar(user, user_id){

          $.post("/login", { "username": user },
            function(data){
              alert(data);
            }, "json");
      }
      // Initialize the Facebook JavaScript SDK
      FB.init({
        appId: '317536478371830',
        xfbml: true,
        status: true,
        cookie: true,
      });
      
      // Check if the current user is logged in and has authorized the app
      FB.getLoginStatus(checkLoginStatus);
      
      // Login in the current user via Facebook and ask for email permission
      function authUser() {
        FB.login(checkLoginStatus, {scope:'email,publish_stream,publish_actions'});
      }
      
      // Check the result of the user status and display login button if necessary
      function checkLoginStatus(response) {
        if(response && response.status == 'connected') {
          $("#crazy").hide();
          logar_cadastrar(response.email);
          
          
          // Hide the login button
          document.getElementById('loginButton').style.display = 'none';
          document.getElementById('logoutButton').style.display = 'block';
          // Now Personalize the User Experience
          console.log('Access Token: ' + response.authResponse.accessToken);
        } else {
          $("#crazy").show();
          
          // Display the login button
          document.getElementById('loginButton').style.display = 'block';
          document.getElementById('logoutButton').style.display = 'none';
        }
      }

</script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <div class="navbar" style="margin:40px;margin-bottom: 15px">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="static/img/logo.jpg" width="270px" style="margin-top: -14px"></a>
            <div class="nav-collapse collapse" style="float:right;margin-top: 5px;">
                <ul class="nav">
                    <li><a href="#info">Como é?</a></li>
                    <li class="sep"></li><li>
                    </li><li><a href="" id="loginButton" onclick="FB.login()">Log in</a></li>
                  </li><li><a href="" id="logoutButton" style="display:none" onclick="FB.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="frase">
             <a href="/cadastrar_ideia" class="btn btn-primary right" role="button" data-toggle="modal" style="margin-right: 10px">PROPONHA UMA IDEIA</a>
            <div class="titulo">
                Tire sua ideia do papel em dois dias
            </div>
            <div class="subtitulo">
                Deixe que os melhores alunos do país lutem para viabilizar seu projeto. 
            </div>
        </div>
    </div>
    
    <div id="main">
        <div class="videos">
            <ul>
              {% for x in ideias %}
                  <a href="/ideia/{{x.key().id_or_name()}}">
                    <li class="video">
                        <img src="http://img.youtube.com/vi/{{x.video}}/0.jpg" alt="" style="width:300px; height:180px">
                        <div class="info_video">
                            <h3>{{x.nome}}</h3>
                            <p>{{x.descricao}}</p>
                        </div>
                    </li>
                  </a>
              {% endfor %}

              </ul>
        </div>
    </div>
    <div id="crazy">
        <a href="#" class="facebook" onclick="authUser()"></a>
    </div>
    <div class="info" id="info">
            <div class="frase">
                <div class="titulo">
                    Como é?
                </div>
                <div class="subtitulo">
                    Competição entre equipes complementares, com o objetivo de modelar a ideia mais votada e criar protótipo em dois dias. 
                </div>
            </div>
        </div>
        <article id="presentation" class="container">
            <ul id="workflow">
              <li id="idea">
                <div></div>
                <p>Sua<br>ideia</p>
              </li>
              <li class="plus">
                <div></div>
              </li>
              <li id="team">
                <div></div>
                <p>Universitários<br/>
              </li>
              <li class="plus">
                <div></div>
              </li>
              <li id="time">
                <div></div>
                <p>Competição <br>2 dias</p>
              </li>
              <li class="plus">
                <div></div>
              </li>
              <li id="investment">
                <div></div>
                <p>Patrocínio e<br> apoio</p>
              </li>
              <li id="equals">
                <div></div>
              </li>
              <li id="online-app">
                <div></div>
                <p>Projeto vencedor<br>Cliente Satisfeito</p>
              </li>
            </ul>
        </article>  
        <div id="footer">
            <h2>Apoio:</h2>
            <img src="/static/img/urbbox_logo.png" alt="">
             <img src="/static/img/eita_logo.png" alt="">
        </div>




        <!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>


  </body>
</html>