<!DOCTYPE html>
<html>
  <head>

    <title>Tequila App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; utf-8">
    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
     <script src="//connect.facebook.net/en_US/all.js"></script>
  </head>
  <body>
    <div class="logo">
        <img src="static/img/logo.png" alt="">
      </div>
    <div class="main">
      

      <div class="login">

        <div class="facebook">
           
            <img src="static/img/facebook.png" alt="">
        
        </div>
        <div class="field">
          <span><img src="static/img/username.png" alt=""></span>
          <input type="text" placeholder="Login">
        </div>

        <div class="field">
          <span><img src="static/img/password.png" alt=""></span>
          <input type="password" name="" placeholder="Password">
        </div>

        <div class="clear"></div>
        <div class="buttons">
          <button type="submit" class="red">Sign in</button>
        </div>
      </div>
    </div>
    
    <div id="footer" class="footer">
        Copyrights 2013
        <span class="links">
          <a href="/about">About</a>
          <a href="/terms">Terms of Use</a>
          <a href="/terms">Contact Us</a>
        </span>
    </div>
  </body>
</html>